<div style="display: flex;flex-direction: column;height: 100%;width:100%">
<!--  <div style="flex-basis: 40px;background: #242424;flex-grow: 0;display: flex;align-items: center;flex-direction: row;justify-content: space-between;">-->
  <div style="height: 60px;background: #242424;display: flex;align-items: center;flex-direction: row;justify-content: space-between;">
    <header class="header-6" style="flex-grow: 1;">
      <div class="branding">
        <a href="" class="nav-link">
          <div class="log"></div>
          <span style="padding-left: 24px;" class="title">首页</span>
        </a>
      </div>
      <div class="header-actions">

        <a href="javascript://" class="nav-link nav-text">消息</a>
        <a href="javascript://" class="nav-link nav-text">文档中心</a>

        <clr-dropdown>
          <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
            工单
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a clrDropdownItem>查询</a>
            <a clrDropdownItem>明细</a>
          </clr-dropdown-menu>
        </clr-dropdown>
        <clr-dropdown>
          <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
            费用
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a clrDropdownItem>结余</a>
            <a clrDropdownItem>明细</a>
          </clr-dropdown-menu>
        </clr-dropdown>
        <clr-dropdown>
          <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
            Nocsys
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <div clrDropdownItem>设置</div>
            <div clrDropdownItem>退出</div>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
    </header>

    <!--        <div style="">-->
    <!--          <a href="" class="nav-link">-->
    <!--            <clr-icon shape="vm-bug"></clr-icon>-->
    <!--            <span class="title">Project Clarity</span>-->
    <!--          </a>-->
    <!--        </div>-->
    <!--        <div style="padding-right: 16px;">-->
    <!--          <clr-dropdown>-->
    <!--            <div class="btn btn-outline-primary" style="width:120px" clrDropdownTrigger>-->
    <!--              Nocsys-->
    <!--              <clr-icon shape="caret down"></clr-icon>-->
    <!--            </div>-->
    <!--            <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>-->
    <!--              <div aria-label="Dropdown header Action 1" style="width:120px" clrDropdownItem>Setting</div>-->
    <!--              <div aria-label="Dropdown header Disabled Action" style="width:120px" clrDropdownItem>Logout</div>-->
    <!--            </clr-dropdown-menu>-->
    <!--          </clr-dropdown>-->
    <!--        </div>-->
  </div>
  <div style="height:calc(100% - 60px);display: flex;flex-direction: row">
    <div style="flex-basis: 40px;background: #494444;display: flex;flex-direction: column;align-items: center">
      <button type="button" class="btn btn-icon btn-primary" aria-label="home" style="margin:6px">
        <clr-icon shape="home" class="is-solid"></clr-icon>
      </button>
      <button type="button" class="btn btn-icon btn-primary" aria-label="home" style="margin:6px">
        <clr-icon shape="bullet-list" class="is-solid"></clr-icon>
      </button>
      <button type="button" class="btn btn-icon btn-primary" aria-label="settings" style="margin:6px">
        <clr-icon shape="align-left" class="is-solid"></clr-icon>
      </button>
      <button type="button" class="btn btn-icon btn-primary" aria-label="settings" style="margin:6px">
        <clr-icon shape="switch" class="is-solid"></clr-icon>
      </button>
      <button type="button" class="btn btn-icon btn-primary" aria-label="settings" style="margin:6px">
        <clr-icon shape="accessibility-2" class="is-solid"></clr-icon>
      </button>
      <button type="button" class="btn btn-icon btn-primary" aria-label="warning" style="margin:6px">
        <clr-icon shape="warning-standard" class="is-solid"></clr-icon>
      </button>
    </div>
    <div style="flex-grow: 1;background: whitesmoke;display: flex">
      <div style="flex-basis: 200px;background: #dbdee4;color:#3b3b3b">
        <div style="height: 50px;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-left: 24px;">
          <clr-icon shape="host" class="is-solid" style=" border-radius: 50%;
    /* background: white; */
    /* font-size: 14px; */
    width: 22px;
    height: 22px;
    padding: 2px;"></clr-icon>
          云物理主机
        </div>

        <clr-vertical-nav style="background: none;padding-top: 0px;width:200px;">
          <a clrVerticalNavLink routerLink="./charmander" routerLinkActive="active"
             style="background: #0072a3;color:whitesmoke;">
            <div style="display: flex;align-items: center">
              <div style="margin-left:12px;width:5px;height:5px;border-radius: 50%;background: whitesmoke;"></div>
              <div style="padding-left: 16px;">物理服务器</div>
            </div>
          </a>
          <a clrVerticalNavLink routerLink="./charmander" routerLinkActive="active">
            <div style="display: flex;align-items: center">
              <div style="margin-left:12px;width:5px;height:5px;border-radius: 50%;background: black;"></div>
              <div style="padding-left: 16px;">SSH秘钥</div>
            </div>
          </a>
          <a clrVerticalNavLink routerLink="./charmander" routerLinkActive="active">
            <div style="display: flex;align-items: center">
              <div style="margin-left:12px;width:5px;height:5px;border-radius: 50%;background: black;"></div>
              <div style="padding-left: 16px;">自定义镜像</div>
            </div>
          </a>
          <a clrVerticalNavLink routerLink="./charmander" routerLinkActive="active">
            <div style="display: flex;align-items: center">
              <div style="margin-left:12px;width:5px;height:5px;border-radius: 50%;background: black;"></div>
              <div style="padding-left: 16px;">安全组</div>
            </div>
          </a>
          <!--          <a clrVerticalNavLink routerLink="./jigglypuff" routerLinkActive="active">物理服务器</a>-->
          <!--          <a clrVerticalNavLink routerLink="./pikachu" routerLinkActive="active">SSH秘钥</a>-->
          <!--          <a clrVerticalNavLink routerLink="./raichu" routerLinkActive="active">自定义镜像</a>-->
          <!--          <a clrVerticalNavLink routerLink="./snorlax" routerLinkActive="active">安全组</a>-->
        </clr-vertical-nav>

        <!--        <div style="padding-left: 34px;">-->
        <!--          <ul class="list inner_list">-->
        <!--            <li style="background: #125699">物理服务器</li>-->
        <!--            <li>-->
        <!--              SSH秘钥-->
        <!--            </li>-->
        <!--            <li>自定义镜像</li>-->
        <!--            <li>安全组</li>-->
        <!--          </ul>-->
        <!--        </div>-->
      </div>
      <div style="flex-grow: 1;background: whitesmoke;padding:16px;">

        <div style="padding: 8px 0;height:40px;"> 云物理主机 > 物理服务器</div>

        <div style="height:calc(100% - 40px);overflow:auto">
<!--          height: calc(100% - 300px);overflow: auto-->
          <div style="">
            <clr-dg-action-bar>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-secondary" (click)="login()">
                  <clr-icon shape="plus"></clr-icon>
                  物理主机
                </button>
              </div>

              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-secondary" (click)="login()">
                  <clr-icon shape="refresh"></clr-icon>
                  刷新
                </button>
              </div>

              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-secondary" (click)="login()"
                        [disabled]="selected.length == 0">
                  <clr-icon shape="power"></clr-icon>
                  开机
                </button>
                <button type="button" class="btn btn-sm btn-secondary" (click)="login()"
                        [disabled]="selected.length == 0">
                  <clr-icon shape="pause"></clr-icon>
                  关机
                </button>
                <button type="button" class="btn btn-sm btn-secondary" (click)="login()"
                        [disabled]="selected.length == 0">
                  <clr-icon shape="refresh"></clr-icon>
                  重启
                </button>
                <button type="button" class="btn btn-sm btn-secondary" (click)="login()"
                        [disabled]="selected.length == 0">
                  <clr-icon shape="vm"></clr-icon>
                  绑定弹性IP
                </button>
                <button type="button" class="btn btn-sm btn-secondary" (click)="login()"
                        [disabled]="selected.length == 0">
                  <clr-icon shape="scissors"></clr-icon>
                  解绑弹性IP
                </button>
                <button type="button" class="btn btn-sm btn-secondary" (click)="login()"
                        [disabled]="selected.length == 0">
                  <clr-icon shape="squid"></clr-icon>
                  更换网络
                </button>
                <button type="button" class="btn btn-sm btn-secondary" (click)="bDelete()"
                        [disabled]="selected.length == 0">
                  <clr-icon shape="times"></clr-icon>
                  删除
                </button>

              </div>

              <div class="btn-group">
                <clr-dropdown>
                  <button type="button" class="btn btn-sm btn-secondary" clrDropdownTrigger>
                    更多
                    <clr-icon shape="caret down"></clr-icon>
                  </button>
                  <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                    <button type="button" (click)="login()" clrDropdownItem>导出配置</button>
                    <button type="button" (click)="login()" clrDropdownItem>备份</button>
                  </clr-dropdown-menu>
                </clr-dropdown>
              </div>

            </clr-dg-action-bar>
            <clr-datagrid [(clrDgSelected)]="selected" class="dddddd">
              <clr-dg-column>名称
                <clr-dg-string-filter [clrDgStringFilter]="nameFilter"></clr-dg-string-filter>
              </clr-dg-column>
              <clr-dg-column>状态</clr-dg-column>
              <clr-dg-column>类型</clr-dg-column>
              <clr-dg-column>IP地址</clr-dg-column>
              <clr-dg-column>配置</clr-dg-column>
              <clr-dg-column>网络</clr-dg-column>
              <clr-dg-column>计费信息</clr-dg-column>
              <clr-dg-column>操作</clr-dg-column>

              <!--          *ngFor="let host of tableValues"-->
              <clr-dg-row *clrDgItems="let host of tableValues" [clrDgItem]="host" (click)="click($event)">
                <clr-dg-cell>{{host.name}}</clr-dg-cell>
                <clr-dg-cell style="color:green">{{host.status}}</clr-dg-cell>
                <clr-dg-cell>{{host.type}}</clr-dg-cell>
                <clr-dg-cell>{{host.ip}}</clr-dg-cell>
                <clr-dg-cell>{{host.config}}</clr-dg-cell>
                <clr-dg-cell>{{host.network}}</clr-dg-cell>
                <clr-dg-cell>{{host.jiFei}}</clr-dg-cell>
                <clr-dg-cell>
                  {{host.opt}}
                  <clr-icon shape="caret down"></clr-icon>
                </clr-dg-cell>
              </clr-dg-row>

              <clr-dg-footer>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                  <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">每页主机</clr-dg-page-size>
                  {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                  of {{pagination.totalItems}} 主机
                </clr-dg-pagination>
              </clr-dg-footer>
            </clr-datagrid>
          </div>
          <div style="height: 400px;overflow: auto;margin-top:16px;padding: 24px;background: white" *ngIf="selected.length == 1">
            <div style="margin-left:-8px;font-size:16px;color:black">云物理主机: {{selected[0].name}}  {{selected[0].ip}}</div>

            <clr-tabs>
              <clr-tab>
                <button clrTabLink id="link1">详情</button>
                <clr-tab-content id="content1" *clrIfActive="true">
                  <div style="display: flex;padding:24px;">
                    <div>
                      <div class="parent">
                        <div class="left">创建时间:</div>
                        <div class="right">2020-08-19 10:21:23</div>
                      </div>
                      <div  class="parent">
                        <div class="left">SN:</div>
                        <div class="right">20102000A209012D222185</div>
                      </div>
                      <div  class="parent">
                        <div class="left">VPC:</div>
                        <div class="right">tsp_vpc</div>
                      </div>
                      <div  class="parent">
                        <div class="left">IP:</div>
                        <div class="right">{{selected[0].ip}}</div>
                      </div>
                      <div  class="parent">
                        <div class="left">状态:</div>
                        <div class="right" style="color:green">{{selected[0].status}}</div>
                      </div>
                    </div>

                    <div>
                      <div class="parent">
                        <div class="left">网络:</div>
                        <div class="right">{{selected[0].network}}</div>
                      </div>
                      <div  class="parent">
                        <div class="left">类型:</div>
                        <div class="right">{{selected[0].type}}</div>
                      </div>
                      <div  class="parent">
                        <div class="left">安全组:</div>
                        <div class="right">内网只进不出</div>
                      </div>
                      <div  class="parent">
                        <div class="left">操作系统:</div>
                        <div class="right">CentOS-7.5-标准镜像</div>
                      </div>
                      <div  class="parent">
                        <div class="left">MAC:</div>
                        <div class="right">2D:9A:8B:11:98:12</div>
                      </div>
                    </div>
                  </div>
                </clr-tab-content>
              </clr-tab>
              <clr-tab>
                <button clrTabLink>流量统计</button>
                <clr-tab-content *clrIfActive>
                  <div  style="padding:16px;">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-primary" (click)="login()">
                        一小时内
                      </button>
                      <button type="button" class="btn btn-sm btn-secondary" (click)="login()">
                        一天
                      </button>
                      <button type="button" class="btn btn-sm btn-secondary" (click)="login()">
                        一周
                      </button>
                    </div>
                    <ngx-charts-line-chart
                      [view]="view"
                      [scheme]="colorScheme"
                      [legend]="legend"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxis]="xAxis"
                      [yAxis]="yAxis"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="yAxisLabel"
                      [timeline]="timeline"
                      [results]="multi"
                      (select)="onSelect($event)"
                      (activate)="onActivate($event)"
                      (deactivate)="onDeactivate($event)"
                    >
                    </ngx-charts-line-chart>
                  </div>

                </clr-tab-content>
              </clr-tab>
              <clr-tab>
                <button clrTabLink>监控</button>
                <clr-tab-content *clrIfActive>
                  <div style="display: flex">
                      <div class="host_status">CPU: <span style="color: green">正常</span></div>
                      <div class="host_status">硬盘: <span style="color: green">正常</span></div>
                      <div class="host_status">内存: <span style="color: green">正常</span></div>
                      <div class="host_status">风扇: <span style="color: green">正常</span></div>
                      <div class="host_status">电源: <span style="color: green">正常</span></div>
                  </div>
                </clr-tab-content>
              </clr-tab>
              <clr-tab>
                <button clrTabLink>入站规则</button>
                <clr-tab-content *clrIfActive>

                  <clr-datagrid>
                    <clr-dg-column>安全组</clr-dg-column>
                    <clr-dg-column>协议</clr-dg-column>
                    <clr-dg-column>操作</clr-dg-column>
                    <clr-dg-column>起始端口</clr-dg-column>
                    <clr-dg-column>结束端口</clr-dg-column>
                    <clr-dg-column>源IP地址</clr-dg-column>
                    <clr-dg-column>备注</clr-dg-column>

                    <clr-dg-row *ngFor="let user of group">
                      <clr-dg-cell>{{user.name}}</clr-dg-cell>
                      <clr-dg-cell>{{user.protocol}}</clr-dg-cell>
                      <clr-dg-cell>{{user.action}}</clr-dg-cell>
                      <clr-dg-cell>{{user.startPort}}</clr-dg-cell>
                      <clr-dg-cell>{{user.endPort}}</clr-dg-cell>
                      <clr-dg-cell>{{user.sourceIp}}</clr-dg-cell>
                      <clr-dg-cell>{{user.backup}}</clr-dg-cell>
                    </clr-dg-row>
                  </clr-datagrid>


                </clr-tab-content>
              </clr-tab>
              <clr-tab>
                <button clrTabLink>标签</button>
                <clr-tab-content *clrIfActive>
                  <div style="padding: 24px;">
                    无
                  </div>
                </clr-tab-content>
              </clr-tab>
            </clr-tabs>

          </div>
        </div>
      </div>

    </div>
  </div>

  <clr-modal [(clrModalOpen)]="basic">
    <h3 class="modal-title">
      <clr-icon style="width: 25px;
    height: 25px;
    margin-top: -4px;" shape="info-standard" class="is-solid"></clr-icon>
      批量删除物理主机</h3>
    <div class="dropdown-divider"></div>
    <div class="modal-body">
      <div style="padding-left:24px;">确认要删除物理主机:
        <div style="padding-left: 48px;color:#d48d21" *ngFor="let v of selected">
          <span>名称: {{v.name}}</span>
          <span style="padding-left: 16px;">IP: {{v.ip}}</span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="basic = false">取消</button>
      <button type="button" class="btn btn-primary" (click)="basic = false">确认</button>
    </div>
  </clr-modal>


</div>

